<?xml version="1.0"?>

<!--
    Copyright 2021 U.S. Department of Transportation, Federal Highway Administration

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
-->

<launch>

    <!-- Mock Drivers -->
    <arg name="mock_drivers" default="" doc="List of driver node base names which will be launched as mock drivers"/>

    <arg name="mock_controller" value="$(eval 'controller' in arg('mock_drivers').split())"/>
    <arg name="mock_imu" value="$(eval 'imu' in arg('mock_drivers').split())"/>
    <arg name="mock_lidar" value="$(eval 'lidar' in arg('mock_drivers').split())"/>
    <arg name="mock_camera" value="$(eval 'camera' in arg('mock_drivers').split())"/>

    <!-- Specific Drivers -->
    <arg name="drivers" default="c1t_vesc_driver c1t_razor_imu_m0_driver c1t_rplidar_driver c1t_zed_driver" 
        doc="Desired real drivers to launch specified by package name. Mock drivers will take precedence"/>

    <arg name="c1t_vesc_driver" value="$(eval ('c1t_vesc_driver' in arg('drivers').split()) and not arg('mock_controller'))"/>
    <arg name="c1t_razor_imu_m0_driver" value="$(eval ('c1t_razor_imu_m0_driver' in arg('drivers').split()) and not arg('mock_imu'))"/>
    <arg name="c1t_rplidar_driver" value="$(eval ('c1t_rplidar_driver' in arg('drivers').split()) and not arg('mock_lidar'))"/>
    <arg name="c1t_zed_driver" value="$(eval ('c1t_zed_driver' in arg('drivers').split()) and not arg('mock_camera'))"/>


    <!-- C1T VESC Driver Nodes -->
    <include if="$(arg c1t_vesc_driver)" file="$(find c1t_vesc_driver)/launch/c1t_vesc_driver.launch"/>

    <!-- C1T Razor IMU M0 Driver Nodes -->
    <include if="$(arg c1t_razor_imu_m0_driver)" file="$(find c1t_razor_imu_m0_driver)/launch/c1t_razor_imu_m0_driver.launch"/>

    <!-- C1T RPLIDAR Driver Nodes -->
    <include if="$(arg c1t_rplidar_driver)" file="$(find c1t_rplidar_driver)/launch/c1t_rplidar_driver.launch"/>

    <!-- C1T ZED Camera Driver Nodes -->
    <include if="$(arg c1t_zed_driver)" file="$(find c1t_zed_driver)/launch/c1t_zed_driver.launch"/>
</launch>